@media(max-width: 1920px) {
  .container__header {
    max-width: 1626px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

@media(max-width: 1600px) {
  .menu.active {
    width: 735px;
  }
}

@media(max-width: 1450px) {

  .spec__text,
  .projects__text {
    padding: 0 30px;
  }

  .spec__item {
    height: 500px;

    &:hover {
      .spec__item-title {
        font-size: 24px;
        line-height: 26px;
      }
    }
  }

  .spec__item-title,
  .projects__item-title {
    padding: 30px 15px 0 30px
  }

  .projects__text-more {
    padding: 30px 30px 0 30px;
  }

  .projects__item {
    height: 500px;
  }
}

@media(max-width: 1024px) {
  .title {
    font-size: 24px;
    line-height: 26px;
  }

  .text {
    font-size: 16px;
    line-height: 20px;
  }


  .global__btn-contact {
    font-size: 14px;
    line-height: 17px;
  }

  .menu.active {
    width: 520px;
    font-size: 14px;
    line-height: 17px;
  }

  .menu-mobil-services {
    margin: 30px 0 30px 30px;
  }

  .header__social {
    display: none;
  }

  .screen__title {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 0px;
  }

  .screen__subtitle {
    font-size: 24px;
    line-height: 26px;
    padding-top: 10px;
    letter-spacing: 0;
  }

  .company__item-title {
    font-size: 18px;
    line-height: 20px;

    span {
      font-size: 64px;
      line-height: 50px;
    }
  }

  .company__item {
    max-width: 224px;
    margin-bottom: 50px;
  }

  .spec__inner {
    flex-wrap: wrap;
  }

  .spec__item {
    max-width: 512px;
  }

  .spec__item {
    height: 600px;

    &:hover {
      .spec__item-title {
        font-size: 32px;
        line-height: 38px;
        max-width: 375px;
      }
    }
  }

  .projects__wrapper-item {
    flex-wrap: wrap;
  }

  .projects__item {
    max-width: 1024px;
    height: 600px;
  }
}

@media(max-height: 900px) {
  .menu.active {
    padding-top: 50px;
  }
}

@media(max-height: 900px) {
  .menu.active {
    padding-top: 50px;
  }
}

@media(max-height: 800px) {
  .menu__mobil-list {
    margin-bottom: 25px;
  }

  .menu-mobil-services {
    margin: 30px 0 30px 30px;
  }
}

@media(max-width: 768px) {
  .screen__box {
    margin-left: 0;
  }

  .company__inner {
    flex-wrap: wrap;
  }

  .company__item {
    max-width: 100%;
  }

  .spec__item {
    max-width: 384px;
    height: 480px;

    &:hover {
      .spec__item-title {
        font-size: 24px;
        line-height: 30px;
        max-width: 320px;
      }
    }
  }

  .spec__item-title,
  .projects__item-title {
    font-size: 18px;
    line-height: 20px;
  }

  .projects__item {
    height: 488px;
    &:hover {
      .projects__item-title {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }
}

@media(max-height: 700px) {
  .menu-mobil {
    margin-bottom: 20px;
  }

  .menu.active {
    width: 100%;
    overflow-y: scroll;
  }

  .menu__wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .menu-mobil-services {
    position: absolute;
    right: 200px;
    top: 0;
  }
}

@media(max-width: 600px) {
  .menu.active {
    width: 100%;
    padding-top: 95px;
    padding-left: 15px;
  }

  .spec__wrapper-item {
    flex-wrap: wrap;
  }

  .spec__item {
    max-width: 100%;
    height: 210px;
    background-size: auto;
    background-size: cover !important;

    &:hover {
      .global-bg {
        background: linear-gradient(180deg, #00202E 10%, rgba(0, 32, 46, 0) 100%);
      }
    }
  }
  .projects__item{
    height: 350px;
  }
  .projects__text-more{
    display: none;
  }
}

@media(max-width: 500px) {
  .header__phone {
    display: none;
  }

  .screen__box {
    margin-top: 150px;
  }

  .screen__title {
    font-size: 36px;
    line-height: 40px;

  }

  .screen__subtitle {
    font-size: 24px;
    line-height: 26px;
    padding-top: 10px;
    letter-spacing: 0;
  }

  .global__social-list--link {
    margin-bottom: 30px;
  }

  .header__btn {
    &+.header__btn {
      margin-left: 20px;
    }
  }

  .menu.active {
    padding-top: 50px;
    overflow-y: scroll;
  }

  .menu__mobil-list {
    margin-bottom: 25px;
  }

  .global__social-list+.global__social-list {
    margin-left: 12px;
    margin-bottom: 30px;
  }

  .benefits__subtitle {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .benefits__item {
    margin-bottom: 50px;
  }
}

@media(max-height: 450px) {
  .screen__box {
    margin-top: 110px;
  }

  .screen {
    height: 450px;
  }
}
@media(max-width: 450px) {
}
@media(max-width: 380px) {
  .screen__title {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .header__btn {
    display: block;
    margin-bottom: 35px;

    &+.header__btn {
      margin-left: 0;
    }
  }

}