%Mont-Medium {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
  display: swap;
}

%Mont-Regular {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}

%Forum-Regular {
  font-family: 'Forum-Regular', sans-serif;
  font-weight: 400;
  display: swap;
}


$white: #FFFFFF;
$blue: #F1FCFF;
$neon-blue: #00E0FF;
$dark-blue: #002D42;
$black: #00202E;
