@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';

// start header
.header {
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 32, 46, 0.9);

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 45, 66, 0) 0%, #03547A 32.81%, rgba(241, 252, 255, 0.77) 48.96%, #024B6D 65.1%, rgba(0, 45, 66, 0) 100%);
  }
}

.header__line {
  display: flex;
  justify-content: space-between;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__social {
  margin-right: 30px;
  //  height: 43px;
}

.header__btn {
  display: inline-block;
  margin-bottom: 30px;

  &+.header__btn {
    margin-left: 30px;
  }
}

.header__phone {
  margin-right: 40px;
}

// end header
// start section screen
.screen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.screen__bg {
  background-color: rgba(0, 32, 46, 0.7);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.screen__box {
  width: fit-content;
  margin-top: 195px;
}

.screen__title {
  text-transform: uppercase;
  font-size: 80px;
  line-height: 90px;
  margin-bottom: 40px;
  letter-spacing: 5px;
}

.screen__subtitle {
  padding-top: 15px;
  font-size: 48px;
  line-height: 53px;
  @extend %Forum-Regular;
  letter-spacing: 3px;
}

// end section screen
// start section company
.company__inner {
  display: flex;
  justify-content: space-around
}

.company__item {
  max-width: 295px;
  width: 100%;
  // width: 310px;
  // padding: 0 15px;
  margin-bottom: 70px;
}

.company__item-title {
  @extend %Forum-Regular;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 30px;

  span {
    color: $neon-blue;
    font-size: 72px;
    line-height: 50px;
  }
}

.company__item-text {
  text-align: left;
}

// end section company
// start section spec
.spec {
  max-width: 1920px;
  margin: 0 auto;
}

.spec__title {
  padding: 0 15px;
}

.spec__item-title {
  color: $white;
  font-size: 24px;
  line-height: 26px;
  @extend %Forum-Regular;
  text-align: left;
  margin: 50px 0 5px 50px;
  padding-right: 15px;
  transition-duration: 1s, 1s;
  text-transform: uppercase;
  max-width: 380px;
}

.spec__item-more {
  opacity: 0;
  @extend %Mont-Regular;
  transition: all 1s;
  margin-left: 50px;
  text-transform: uppercase;
  color: $neon-blue;
}

.spec__inner {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.spec__wrapper-item {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
}

// старт для страницы строительство
.spec__text-more {
  margin-left: 50px;
  padding-right: 50px;
  max-width: 380px;
  transition: all 1s;
  opacity: 1;
}

// финиш для страницы строительство
.spec__item {
  max-width: 480px;
  width: 100%;
  height: 668px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition-duration: 3s, 1s;
  transition: background-size 2s ease-in;
  overflow: hidden;
  background-size: 100% 100%;

  &:hover {
    background-size: 110% 110%;

    .global-bg {
      position: absolute;
      background: linear-gradient(180deg, #00202E 0%, rgba(0, 32, 46, 0) 42.19%);
      border: 2px solid #00E0FF;
    }

    .spec__item-title {
      font-size: 28px;
      line-height: 30px;
    }

    .spec__item-more {
      color: $neon-blue;
      opacity: 1;
      font-size: 14px;
      line-height: 16px;
    }

    .spec__text-more {
      opacity: 0;
      margin-top: 20px;
    }
  }
}

// end section spec

// start section benefits
.benefits__title {
  margin-bottom: 70px;
}

.benefits__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.benefits__item {
  width: 430px;
  padding: 0 15px;
  margin-bottom: 100px;
}

.devbenefits__item {
  width: 540px;
}

.benefits__subtitle {
  @extend %Forum-Regular;
  color: $neon-blue;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// end section benefits
// start section projects
.projects {
  max-width: 1920px;
  margin: 0 auto;
}

.projects__inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.projects__wrapper-item {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  width: 100%;
}

.projects__item {
  max-width: 960px;
  width: 100%;
  height: 668px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  transition-duration: 3s, 1s;
  transition: background-size 2s ease-in;
  overflow: hidden;
  background-size: 100% 100%;

  &:hover {
    background-size: 110% 110%;

    .global-bg {
      position: absolute;
      background: linear-gradient(180deg, #00202E 0%, rgba(0, 32, 46, 0) 42.19%);
      border: 2px solid #00E0FF;
    }

    .projects__item-title {
      font-size: 28px;
      line-height: 30px;
      margin-bottom: 30px;
    }

    .projects__more {
      color: $neon-blue;
      opacity: 1;
      font-size: 14px;
      line-height: 16px;
    }

    .projects__text-more {
      opacity: 0;
    }
  }
}

.projects__item-title {
  font-size: 24px;
  line-height: 26px;
  @extend %Forum-Regular;
  text-align: left;
  margin: 50px 0 5px 162px;
  padding-right: 15px;
  transition-duration: 1s, 1s;
  text-transform: uppercase;
  max-width: 727px;
}

.projects__more {
  font-size: 18px;
  line-height: 22px;
  opacity: 0;
  @extend %Mont-Regular;
  transition: all 1s;
  text-transform: uppercase;
  color: $neon-blue;
}

.projects__text-more {
  margin-left: 162px;
  padding-right: 15px;
  max-width: 651px;
  margin-bottom: 20px;
  transition: all 1s;
  opacity: 1;
}

// end section projects

// start section questions

.questions {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 70px;
}



.questions__inner {
  max-width: 1274px;
  margin: 0 auto;
}

.questions__item-inners {
  position: relative;
  z-index: 1;
  background: rgba(0, 45, 66, 0.9);
  border-radius: 10px;
}

.questions__item {
  margin-bottom: 50px;
  color: $white;
  background: rgba(0, 45, 66, 0.8);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.questions__item--active {
  .questions__item-text {
    display: block;
  }

}


.questions__item-title {
  @extend %Forum-Regular;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  transition: all .3s;
  padding: 20px 20px 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: $white;

  &:hover {
    color: $neon-blue;

    .questions__item-title--img2 {
      display: block;
    }

    .questions__item-title--img1 {
      display: none;
    }
  }
}

.questions__item-text {
  @extend %Mont-Regular;
  font-size: 18px;
  line-height: 22px;
  padding: 0 98px 20px 50px;
  display: none;
}

.questions__item-link {
  color: $neon-blue;
  border-bottom: 1px solid transparent;
  transition: all .3s;

  &:hover {
    border-bottom: 1px solid $neon-blue;
  }
}

.questions__item-title--img2 {
  display: none;
}


// end section questions
// start section reviews

.reviews__wrapper {
  position: relative;
  max-width: 1397px;
  width: 100%;
  margin: 0 auto;
}

.reviews__slider {
  padding: 5px 75px;
}

.reviews__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1244px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.reviews__item-wrapper {
  background-color: rgba(0, 45, 66, 0.7);
  backdrop-filter: blur(1px);
  padding: 75px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.reviews__info {
  padding-right: 30px;

}

.reviews__info-title {
  display: flex;
  justify-content: space-between;
}

.reviews__info-img {
  margin-right: 30px;
  width: 74px;
  height: 75px;
}

.reviews__info-name {
  max-width: 422px;
  width: 100%;
  text-align: left;
  @extend %Forum-Regular;
  color: $neon-blue;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
}

.reviews__info-name--time {
  color: $white;
  font-size: 14px;
  line-height: 17px;
  @extend %Mont-Regular;
}

.reviews__info__wrapper {
  padding-left: 105px;
  width: 527px;
}

.reviews__info-text {
  margin-bottom: 50px;
}

.reviews__info-link {
  font-size: 18px;
  line-height: 22px;
  color: $neon-blue;
  border-bottom: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid $neon-blue;
  }
}

.reviews__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 540px;
  width: 100%;
  height: 328px;
  border-radius: 10px;
}

// end section reviews

// start section feedback

.feedback {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.feedback__inner {
  display: flex;
  justify-content: space-between;
  max-width: 1134px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feedback__input__wrapper {
  margin-bottom: 30px;
  max-width: 550px;
  width: 100%;
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  height: 154px;

}

.feedback__item {
  width: 100%;
  background: rgba(0, 45, 66, 0.7) !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  border: transparent;
  font-size: 18px;
  line-height: 22px;
  color: $white;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 15px;
  position: relative;
  z-index: 1;
  overflow: none;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
  -webkit-text-fill-color: #fff;

  &::placeholder {
    color: $white;
  }
}


.feedback__item-text {
  width: 100%;
  resize: none;
  height: 154px;
}

.feedback__btn {
  color: $white;

}


// end section feedback
// start section footer

.footer {
  padding: 50px 0 50px;
  font-size: 14px;
  line-height: 17px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__item {
  margin-bottom: 50px;
  padding: 0 15px;
}

.footer__item-logo {
  width: 150px;
  padding-left: 0;
}

.footer__item-nav {
  width: 160px;

}

.footer__item-menu {
  width: 350px;
}

.footer__item-requisites {
  width: 285px;
}

.footer__item-contacts {
  width: 470px;
}

.footer__menu-list {
  margin-bottom: 20px;
  text-transform: uppercase;
  flex-wrap: wrap;
}

.footer__menu-list--link {
  transition: all .3s;

  &:hover {
    color: $neon-blue;
  }
}

.footer__menu-mobil {
  margin: 20px 0;
  margin-left: 20px;
}

.footer__menu-mobil__list {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer__menu-mobil__list--link {
  transition: all .3s;

  &:hover {
    color: $neon-blue;
  }
}

.footer__social__wrapper {
  margin-bottom: 30px;
}

.footer__btn-wrapper {
  margin-left: auto;
  width: 170px;
}

.footer__btn {
  margin-bottom: 30px;
}

.footer__requisites {
  margin-bottom: 20px;
}

.footer__city {
  margin-bottom: 20px;
}

.footer__requisites-text {
  border-bottom: 1px solid transparent;
  transition: all .3s;
  text-align: center;

  &:hover {
    color: $neon-blue;
    border-bottom: 1px solid $neon-blue;
  }
}

.lapki {
  max-width: 273px;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  display: block;
  border-bottom: 1px solid transparent;
  transition: all .3s;
  text-align: center;

  &:hover {
    color: $neon-blue;
    border-bottom: 1px solid $neon-blue;
  }
}



// end section footer

// start section stages
.stages__inner {
  max-width: 1285px;
  margin: 0 auto;
}

.stages__item {
  margin-bottom: 50px;
}

.stages__item-title {
  @extend %Forum-Regular;
  color: $neon-blue;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

// end section stages

// start section work
.work {
  max-width: 1920px;
  margin: 0 auto;
}

.work__item-left {
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
  padding: 25px 0;
}

.work__item-right {
  display: flex;
  justify-content: flex-end;
  margin-right: auto;
  padding: 25px 0;
}

.work__img {
  max-width: 627px;
  width: 100%;
  height: 510px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.work__box {
  max-width: 670px;
  width: 100%;
  padding: 0 90px;
  margin-top: 60px;
}

.work__subtitle {
  @extend %Forum-Regular;
  color: #00E0FF;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.work__line {
  background-color: $blue;
  height: 1px;
  max-width: 630px;
  margin: 0 auto;
}

.work__btn {
  margin-top: 25px;
}

// end section work

// start section start
.start__box {
  margin-top: 60px;
}

.start__wrapper {
  text-align: center;
}

// end section start

// start section about
.start__box-about {
  padding-top: 70px;
}

.about__inner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.about__item {
  width: 540px;
  // padding-right: 20px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.about__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.about__box-img {
  width: 237px;
  height: 332px;
  border-radius: 5px;
}

.about__box-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  padding-left: 30px;
}

.about__box-name {
  @extend %Forum-Regular;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  color: $neon-blue;
  letter-spacing: 1px;
}


// end section about
// start section water
.water {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}

.water__list {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  display: flex;

  .blue {
    color: $neon-blue;
  }

  .number {
    width: 37px;
    padding-right: 15px;
  }
}

.water__text {
  margin: 0 auto;
  max-width: 1370px;
  width: 100%;
}

.map__inner {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

// end section water


// start section mistake
.mistake {
  text-align: center;
  margin-top: 100px;
}

.mistake__title {
  font-size: 96px;
  line-height: 96px;
  color: $neon-blue;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.mistake__subtitle {
  font-size: 48px;
  line-height: 70px;
  text-transform: uppercase;
  margin-bottom: 50px;

}

// end section mistake

// start section politics

.politics {
  margin-top: 100px;
}

.politics__title {
  text-align: center;
  margin-bottom: 50px;
  font-size: 48px;
  line-height: 80px;
}

.politics__subtitle {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 50px;
}

// end section politics

// start section jobs

.jobs__item {
  position: relative;
  max-width: 1244px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;

}

.jobs__item-wrapper {
  background-color: rgba(0, 45, 66, 1);
  backdrop-filter: blur(10px);
  padding: 70px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.jobs_info {
  padding-right: 30px;

}

.jobs__info-title {
  display: flex;
  justify-content: flex-start;
}

.jobs__info-img {
  margin-right: 30px;
  width: 74px;
  height: 75px;
}

.jobs__info-name {
  max-width: 700px;
  width: 100%;
  text-align: left;
  @extend %Forum-Regular;
  color: $neon-blue;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.jobs__info__wrapper {
  padding-left: 105px;
  max-width: 940px;
  width: 100%;
}

.jobs__info-text {
  margin-bottom: 50px;
}

// end section jobs

// start section employee
.employee__item {
  margin-bottom: 50px;
}

.employee__title {
  @extend %Forum-Regular;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 30px;
  max-width: fit-content;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $neon-blue;
}

.employee__subtext {
  padding-top: 50px;
}

.employee__link {
  color: $neon-blue;
  border-bottom: 1px solid transparent;
  transition: all .3s;

  &:hover {
    border-bottom: 1px solid $neon-blue;
  }
}

// end section employee

// start section news
.news__item {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 100px;
}

.news__img {
  width: 577px;
  height: 350px;
}

.news__info {
  max-width: 740px;
  width: 100%;
  margin-left: 75px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.news__title {
  @extend %Forum-Regular;
  font-size: 24px;
  line-height: 26px;
  max-width: fit-content;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: $neon-blue;
  margin-bottom: 5px;
}
.news__text{
 margin-bottom: 30px;
}
.news__date {
  margin-bottom: 50px;

}

// end section news



@import 'media';